GRAPHQL_ENDPOINT=https://your-graphql-endpoint/graphql
RSS_EVENTS_ID=https://event-feed-eta.vercel.app/api/rss
ATOM_EVENTS_ID=https://event-feed-eta.vercel.app/api/atom
EVENTS_PAGE_LINK=https://events.willamette.edu/
RSS_EVENTS_FEED_LINK=https://event-feed-eta.vercel.app/api/rss
ATOM_EVENTS_FEED_LINK=https://event-feed-eta.vercel.app/api/atom
DATABASE_URL=yourPostgresqlConnectionString_Deprecated