GRAPHQL_ENDPOINT=https://event-graphql.vercel.app/graphiql
RSS_EVENTS_ID=https://event-feed-eta.vercel.app/api/rss
EVENTS_PAGE_LINK=https://events.willamette.edu/
RSS_EVENTS_FEED_LINK=https://event-feed-eta.vercel.app/api/rss
ATOM_EVENTS_ID=https://event-feed-eta.vercel.app/api/atom
ATOM_EVENTS_FEED_LINK=https://event-feed-eta.vercel.app/api/atom
EVENTS_PAGE_FAVICON==https://event-feed-eta.vercel.app/icon.png
DATABASE_URL=yourPostgresqlConnectionString_Deprecated